@use '../../partials/variables';
@use '../../partials/mixins' as *;
@use '../../partials/globals';

.details{
	margin: 2rem 1rem;
	&__label{
		display:block;
	}
	&__input{
		@include mInputBox(100%,3rem);
		padding: 1rem;
		margin-bottom: 1.5rem;
		&::placeholder{
			color:$black;
		}
	}
	&__textarea{
		@include mInputBox(100%,8.938rem);
		padding: 1rem;
		resize: none;
		&::placeholder{
			color:$black;
		}
	}
}

