@use '../../partials/variables';
@use '../../partials/mixins' as *;

.list{
	margin: 0 1rem;
	@include tablet(){
		margin: 0 1.5rem;
	}
	@include desktop(){
		margin:0;
		margin-right:11.25rem;
	}
	&__link{
		text-decoration: none;
		color:$black;
	}
	&__title{
		@include mLabels();
		color:$silver;
		margin:2.5rem 0;
		@include tablet(){
			@include dtLabels();
		}
	}
	&__videos-wrapper{
		display:flex;
		min-height:4.375rem;
		max-height:70px;
		margin-right:1rem;
		margin-bottom: 1.5rem;
		cursor:pointer;
		@include desktop(){
			margin-bottom:1.75rem;
		}
	}
	&__videos{
		min-width: 7.5rem;
    max-width: 7.5rem;
    min-height: 4.375rem;
    max-height: inherit;
    border-radius: 0.25rem;
		margin-right:1rem;
    object-fit: cover;
		object-position: center;
	}
	&__text-wrapper{
		display:flex;
		flex-direction: column;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__video-title{
		@include mSubheader();
		margin:0;
		margin-bottom:1rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		@include tablet(){
			@include dtSubheader();
			width:14rem;
			line-height: 1rem;
			white-space: initial;
			overflow: visible;
			text-overflow: none;
		}
		@include desktop(){
			width: 12rem;
		}
		
	}
	&__author{
		@include mParagraph();
		margin:0;
		margin-bottom:0.5rem;
		flex-grow:1;
		@include tablet(){
			@include dtParagraph();
		}
	}
}
