@use '../../partials/variables';
@use '../../partials/mixins' as *;
@use '../../partials/globals';

.thumbnail{
	margin:0 1rem;
	border-top: 0.063rem solid $mercury;

	&__img-wrapper{
		margin:0;
		min-width:18rem;
		min-height:9.563rem;
	}
	&__title{
		margin: 1.5rem 0 2rem 0;

	}
	&__label{
		color: $mercury; 
	} 
	&__img-wrapper{
		width: 18rem;
		height: 9.563rem;
	}
	&__img{
		border-radius: 0.25rem;
		width:18rem;
		height:9.563rem;
	}
}
