@use '../../partials/variables';
@use '../../partials/mixins' as *;
@use '../../partials/globals';

.thumbnail{
	margin:0 1rem;
	@include tablet(){
		margin: 0 1.5rem;
	}
	@include desktop(){
		border: none;
		margin: 0;
		margin-right: 1.5rem;

	}

	&__label{
		display:block;
		font-weight: 600;
		color: $silver; 
		@include mLabels();
		@include tablet(){
			@include dtLabels();
			margin-top: 2.5rem;
		}
		@include desktop(){
			margin: 0;
		}
	} 
	&__img-wrapper{
		width: 18rem;
		height: 9.563rem;
		margin:0;
		@include tablet(){
			width:21.5rem;
			height:11.438rem;
		}
		@include desktop(){
		}
	}
	&__img{
		border-radius: 0.25rem;
		width: inherit;
		height: inherit;
		@include tablet(){
		}
	}
}
