@use '../../partials/variables';
@use '../../partials/mixins' as *;

.video{
	&__player{
		margin:0;
		width:100%;
		background-color: #000000;
		min-height:11.438rem;
		height: calc(11.438rem + 10vw);
		object-fit: cover;
		@include tablet(){
			min-height: 25rem;
			justify-content: center;
			padding: 0 2.125rem;
		}
	}
	&__info{
	}
	&__title{
		margin: 2rem 0 1rem 0;
		@include tablet(){
			margin: 3rem 0 1.5rem 0;
		}
	}
	&__bottom-wrapper{
		@include tablet(){
			display: flex;
			justify-content: space-between;
		}
	}
	&__author{
		display:flex;
		margin-bottom:2rem;
		@include tablet(){
			margin-bottom:1.5rem;
		}
	}
	&__channel{
		margin:0;
		margin-right:0.5rem;
	}
	&__date{
		margin: 0;
	}
	&__statistics{
		display: flex;
		margin-bottom:1.5rem;
	}
	&__views-icon{
		content:"";
		background-image:url('../../assets/images/Icons/Icon-views.svg');
		background-position: auto;
		background-repeat: no-repeat;
		width:1.5rem;
		height:1.5rem;
		margin-right:0.5rem;
	}
	&__views{
		margin:0;
		margin-right: 2rem;
		
	}
	&__likes-icon{
		content:"";
		background-image:url('../../assets/images/Icons/Icon-likes.svg');
		background-position: auto;
		background-repeat: no-repeat;
		width:1.5rem;
		height:1.5rem;
		margin-right:0.5rem;
		@include tablet(){
		}

	}
	&__likes{
		margin:0;
	}
	&__description{
		@include mTopBorder;
		@include tablet(){
			padding-top:2.5rem;
		}
	}

}
.video > *:nth-child(n+2){
		margin: 0 1rem;
		@include tablet(){
			margin: 0 1.5rem;
		}
	}
