@use '../../partials/variables';
@use '../../partials/mixins' as *;

.video-info{
		flex-grow:1;
		margin: 0 1rem;
		@include tablet(){
			margin: 0 1.5rem;
		}
		@include desktop(){
			margin-left:11.25rem;
		}
	&__wrapper{
	}
	&__title{
		@include mHeader();
		margin: 2rem 0 1rem 0;
		@include tablet(){
			margin: 3rem 0 1.5rem 0;
			@include dtHeader2();
		}
		@include desktop(){
			margin: 2.5rem 0 1.5rem 0;
		}
	}
	&__bottom-wrapper{
		border-bottom:0.063rem solid $mercury;
		@include tablet(){
			display: flex;
			justify-content: space-between;
		}
	}
	&__author{
		display:flex;
		margin-bottom:2rem;
		@include tablet(){
			margin-bottom:1.5rem;
		}
	}
	&__channel{
		margin:0;
		margin-right:0.5rem;
		@include mSubheader();
		@include tablet(){
			@include dtSubheader();
		}
	}
	&__date{
		@include mParagraph();
		margin: 0;
		color: $silver;
		align-self: center;
		@include tablet(){
			@include dtParagraph();
		}
	}
	&__statistics{
		display: flex;
		margin-bottom:1.5rem;
		padding-right: 2rem;
	}
	&__views-icon{
		content:"";
		background-image:url('../../assets/images/Icons/Icon-views.svg');
		background-position: auto;
		background-repeat: no-repeat;
		width:1.5rem;
		height:1.5rem;
		margin-right:0.5rem;
	}
	&__views{
		@include mParagraph();
		margin:0;
		margin-right: 2rem;
		@include tablet(){
			@include dtParagraph();
		}
		
	}
	&__likes-icon{
		content:"";
		background-image:url('../../assets/images/Icons/Icon-likes.svg');
		background-position: auto;
		background-repeat: no-repeat;
		width:1.5rem;
		height:1.5rem;
		margin-right:0.5rem;
	}
	&__likes{
		@include mParagraph();
		margin:0;
		@include tablet(){
			@include dtParagraph();
		}
	}
	&__description{
		@include mParagraph();
		@include tablet(){
			@include dtParagraph();
			padding-top:2.5rem;
		}
		@include desktop(){
			max-width:33rem;
		}
	}

}
