@use "../../partials/variables";
@use "../../partials/mixins" as *;
@use "../../partials/globals";

.header{
	height:10.5625rem;
	margin: 0 1rem;
	@include tablet(){
		height: 5rem;
		margin: 0 1.5rem;
		padding: 1rem 0;
		display: flex;
	}
	@include desktop(){
		margin: 0 11.25rem;
		justify-content: space-between;
	}
	&__logo-container{
		margin:0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 3rem;
		width: 100%;
		@include tablet(){
			margin:0;
			max-width:8.5rem;
			height:auto;
			margin-right: 10.563rem;
			justify-content: flex-start;
			align-items: center;
		}
		
	
	}
	&__logo{
		padding: 0 0.5rem;
		width:100%;
		height:100%;
		@include tablet(){
			padding: 0;
		}
	}

	&__form-container{
		display: flex;
		flex-direction:column;
		justify-content: center;
		width:100%;
		@include tablet(){
			flex-flow: nowrap;
			flex-direction: row;
			justify-content: flex-end;
		}
	}
	&__form{
		width:100%
	}
	&__input{
		@include mParagraph();
		@include mInputBox(100%,3.0625rem);
		display: flex;
		background-image: url('../../assets/images/Icons/Icon-search.svg');
		background-size: 1rem;
		background-repeat:no-repeat;
		background-position: 1rem center;
		@include tablet(){
			@include dtLabels();
			flex-grow: 1;
			max-width: 18rem;
		}
	}
	&__input:focus{
		outline-color: $brainflixBlue
	}
	&__input::placeholder{
		color:$black;
	}
	&__wrapper{
		display:flex;
		margin: 0.5rem 0 1rem 0;
		justify-content: space-between;
		align-items: center;
		width:100%;
		@include tablet(){
			margin:0;
			width:12.126rem;
		}
	}
	
	&__btn{
		@include mLabels();
		@include mButton();
		display:flex;
		width:77.778%;
		justify-content: center;
		align-items: center;
		@include tablet{
			width:6.813rem;
			margin: 0 1.5rem;
		}
	}
	&__btn-icon{
		content: "";
		background-image: url('../../assets/images/Icons/Icon-upload.svg');
		background-position: auto;
		background-repeat: no-repeat;
		width:1rem; 
		height:1rem;
		margin-right:0.5rem;
		align-self:center;

	}
	&__profile-picture{
		@include profilePicture;
		background-image: url('../../assets/images/Mohan-muruge.jpg');
		background-size: cover;
		background-position: 0 center;
		background-repeat: no-repeat;
		margin: 0;
	}
}

