@keyframes inputWrong {
    0% {
        transform: translateX(0.25rem);
    }
    25% {
        transform: translateX(-0.25rem);
    }
    50% {
        transform: translateX(0.25rem);
    }
    75% {
        transform: translateX(-0.25rem);
    }
    100% {
        transform: translateX(0rem);
    }
	
}
