@use '../../partials/variables';
@use '../../partials/mixins' as *;
@use '../../partials/globals';

.comment{
	margin: 0 1rem;
	display:flex;
	flex-direction: column;
	@include tablet(){
		margin: 0 1.5rem;
	}
	&__header{
		margin: 3.75rem 0 2rem 0;

	}
	&__title{
		color: $silver;
		margin:0;
		margin-left: 3.813rem;
	}
	&__post-wrapper{
		display:flex;
	}
	&__form-wrapper{
		flex-grow:1;
		@include tablet(){
			padding-bottom: 1.5rem;
		}
	}
	&__form{
		display: flex;
		flex-direction:column;
		@include tablet(){
			flex-direction:row;
		}
	}
	&__profile-picture{
		@include profilePicture;
		margin: 0;
		margin-right: 1rem;
		@include tablet(){
		}
		&--Mohan{
			background-image: url('../../assets/images/Mohan-muruge.jpg');
			background-size: cover;
			background-position: 0 center;
			background-repeat: no-repeat;
		}
	}
	&__input{
		@include mInputBox(100%,5rem);
		padding:0.75rem;
		resize:none;
		@include tablet(){
			padding: 0.9rem;
			height: 3rem;
			width:27.5rem;
		}
	}
	&__input:focus{
		outline-color: $brainflixBlue
	}
	&__input::placeholder{
		color:$black;
	}
	&__btn{
		@include mButton;
		margin: 1rem 0 1.5rem 0;
		width:inherit;
		@include tablet(){
			width:10rem;
			height: 3rem;
			margin:0 2.5rem 0 1rem;
		}
	}
	&__posted-wrapper{
		@include mTopBorder;
		display:flex;
	}
	&__profile-picture{
	}
	&__info-wrapper{
	}
	&__top-wrapper{
		display:flex;
		justify-content: space-between;
		margin:0;
	}
	&__username{
		margin:0;
	}
	&__date{
		margin:0;
	}
	&__comment-post{
		max-width:39rem;
	}


}
