//Fonts
$black: #323232;
$white: #FFFFFF;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$instockBlue: #004892;
$instockDarkBlue: #002F5F;
$brainflixBlue: #0095FF;
$brainflixDarkBlue: #0065AD;
//Padding
$mPaddingSide: 1rem;
$mPaddingSpacing: 1.5rem;
$mPaddingSmallSpacing: 0.5rem;
$tPaddingSide: 1rem;
$tpaddingSpacing: 2rem;
$tPaddingSmall: 1rem;
$dPaddingSide: 11.25rem;
$dPaddingSpacing: 2rem;
$dPaddingSpacingsmall: 1rem;
